body {
  /*font: 14px Futura, sans-serif;*/
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  margin: 20px;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-size: 30px;
  margin-bottom: -15px;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  font-size: 14px;
}

.menu-bar button {
  border: none;
  outline: none;
  padding: 20px;
  background-color: black;
  color: whitesmoke;
  font: 14px Futura, sans-serif;
}

.menu-bar button:hover {
  border: none;
  background-color: cadetblue;
}

.array-size-options {
  display: flex;
  padding: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.animation-speed-options {
  display: flex;
  padding: 18px;
  margin-right: 10px;
}

.array-component {
  display: flex;
  justify-content: center;
}

.array-element-component {
  display: inline-block;
  width: 30px;
  color: white;
  background-color: cadetblue;
  margin: 1px;
}